 <div class="feeButton"  (click)="openFeeList()" >
    
    <span>{{getFeeTitle()}}</span>
    <img id="smallarrowFee" class="smallarrow" src="../assets/images/littleArrow.png" />
  </div>
   <div id="myDropdownFee" class="dropdown-content-fee" *ngIf="showDropdown">
   <li>
    <span class="feetitle" (click)="setFee(0)">{{getTitleForFee(0)}}</span>
   </li>
    <li>
    <span class="feetitle" (click)="setFee(2)">{{getTitleForFee(2)}}</span>
   </li>
    <li>
    <span class="feetitle" (click)="setFee(3)">{{getTitleForFee(3)}}</span>
   </li>
    <li>
    <div class="customfee">
     <input  class="textInput"  type="number" [(ngModel)]="this.dataService.maincontroller.customFee"  placeholder="custom fee btc"  name="customfee" (blur)="setFee(4)" (focus)="onFocus()">
   <!-- <button (click)="setFee(4)">Set</button>-->
  
    </div>
   </li>
  </div>