

.feeButton span {
    
     pointer-events: none;
    position: absolute;
    right: 28px; 
    top:3px;
    color: #ffffd5;
    font-family:   merriweather;
    font-size: 10pt;
     height:42px;
     text-align: right;
    line-height:42px;
}

.feebuttonImage {
    position: absolute;
  top: 3px;
  right: 10px;
  width:100%;
  height:42px;
}


 .feeButton {
     cursor: pointer;
    position: absolute;
    top: 3px;
  right: 5px;
  width:140px;
  height:42px;

     text-align: right;
}

/* Dropdown button on hover & focus */
.feeButton:hover, .feeButton:focus {
   
}

 

/* Dropdown Content (Hidden by Default) */
.dropdown-content-fee {
   /* display: none;*/
    top:52px;
    right:5px;
    position: absolute;
    background-color: #442117;
    min-width: 90px;
       width:170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

 .smallarrow {
  position: absolute;
  top: 19px;
  right: 8px;
   width:16px;
  height:10px;
}
 
.feetitle {
  display: table-cell;
  vertical-align: middle;
      cursor: pointer;
    color: #ffffd5;
    font-family:   merriweather;
    font-size: 12pt;
    left: 7px;
}

.customfee{
 height:50px;
    line-height:50px; 
}
.customfee input{
 
    width:110px;
}
li
{
  
    background-color: #442117;
    display: table;
    min-width: 50px;
    width:170px;
    list-style-type:none;
    padding-left:15px;
    margin:0px;
    height:50px;
}
/* Change color of dropdown links on hover */
li:hover {background-color: #654137}

