 

<div class="apage" [style.left]="page1Left" [style.background-image]="'url(' +dataService.getImage('greenFelt')+ ')'">
 <div class="topSection">
<img class="float" [src]="dataService.getImage('orbImage')"  />
 </div>
 <div class="bottomSections" [style.background-image]="'url(' +dataService.getImage('introTextBack')+ ')'">
 	<div class="texts">
<p class="title1">{{dataService.getLang('intro_welcome')}}</p>
<p class="title2">{{dataService.getLang('intro_welcome2')}}</p>
<p class="title3">{{dataService.getLang('intro_welcome3')}}</p>
</div>
<div class="bottomBottom">

  <input  class="nextButton" type="button" [value]="dataService.getLang('next')"  (click)="slide2()"   [style.background-image]="'url(' +dataService.getImage('greenButton')+ ')'">
  
</div>
</div>
</div>


<div class="apage" [style.left]="page2Left" [style.background-image]="'url(' +dataService.getImage('blueFelt')+ ')'">
 <div class="topSection">
<img class="screenshot" [src]="dataService.getImage('screenShot1')"  />
 </div>
 <div class="bottomSections" [style.background-image]="'url(' +dataService.getImage('introTextBack')+ ')'">
 	<div class="texts">
<p class="title2">{{dataService.getLang('intro_pagetwo')}}</p> 
<p class="title3">{{dataService.getLang('intro_pagetwo2')}}</p>
</div>
<div class="bottomBottom">
  <input  class="nextButton" type="button" [value]="dataService.getLang('next')"  (click)="slide3()"   [style.background-image]="'url(' +dataService.getImage('greenButton')+ ')'">
 
</div>
</div>
</div>


<div class="apage" [style.left]="page3Left" [style.background-image]="'url(' +dataService.getImage('redFelt')+ ')'">
 <div class="topSection">
<img class="screenshot" [src]="dataService.getImage('screenShot2')"  />
 </div>
 <div class="bottomSections" [style.background-image]="'url(' +dataService.getImage('introTextBack')+ ')'">
 	<div class="texts">
<p class="title2">{{dataService.getLang('intro_pagethree')}}</p>
<p class="title2">{{dataService.getLang('intro_pagethree2')}}</p>
<p class="title3">{{dataService.getLang('intro_pagethree3')}}</p>
<!--<p class="title3">{{dataService.getLang('intro_pagethree4')}}</p>-->

</div>
 
  <input  class="nextButton" type="button" [value]="dataService.getLang('next')"  (click)="slide4()"   [style.background-image]="'url(' +dataService.getImage('greenButton')+ ')'">
 
 
</div>
</div>




<div class="apage" [style.left]="page4Left" [style.background-image]="'url(' +dataService.getImage('purpleFelt')+ ')'">
 <div class="topSection">
<img class="screenshot4" [src]="dataService.getImage('tutorialCards')"  />
 </div>
 <div class="bottomSections" [style.background-image]="'url(' +dataService.getImage('introTextBack')+ ')'">
 	<div class="texts">
<p class="title1">{{dataService.getLang('intro_pagefour')}}</p>
<p class="title2">{{dataService.getLang('intro_pagefour2')}}</p>
<p class="title3">{{dataService.getLang('intro_pagefour3')}}</p>
</div>
<div class="bottomBottom">
  <input  class="nextButton" type="button" [value]="dataService.getLang('get_started')"  (click)="start()"   [style.background-image]="'url(' +dataService.getImage('greenButton')+ ')'">
 
</div>
</div>
</div>
 
 
 <div class="scrollBottom"   >
  <img class="scrollIndicator" [src]="scrollImage"  />
  </div>