<div class="backGround" id="backGround" [style.background-image]="'url(' +dataService.getImage('accountBackground')+ ')'" >

<div class="darkView">
</div>
<div *ngIf="!dataService.maincontroller.selectedOrb.isCurrency" class="orbContainer">
<div class="sendOrbBack2">
<img class="float2" [src]="this.dataService.maincontroller.selectedOrb.image" />
 </div>
<div class="sendOrbBack">
<img class="float1" [src]="this.dataService.maincontroller.selectedOrb.image"  />
 </div>
<div class="sendOrb">
<img class="float" [src]="this.dataService.maincontroller.selectedOrb.image"  />
 </div>
 
</div>
<div *ngIf="dataService.maincontroller.selectedOrb.isCurrency" class="orbContainer">
<div class="sendOrb">
<img class="float" [src]="this.dataService.maincontroller.selectedOrb.image"  />
 </div>

  </div> 

  <div>
 
 
 

 

<div class="keypad"  [style.height.px]="getAHeight(60)" [style.top.px]="getAHeight(40)">

  <img class="keypadBack"   [src]="dataService.getImage('qrbottomback')" [style.height.px]="getAHeight(50)" [style.top.px]="getAHeight(50)"/> 
<div class="middleBar">

  <img class="middleBarImg"    [src]="dataService.getImage('sendMiddleBar')" /> 
   <div *ngIf="!sending" class="sendButton" (click)="send()">
    <img class="sendButtonImg"   [src]="dataService.getImage('filterButtonBackground')" /> 
    <label>{{dataService.getLang('send')}}</label>
    
  </div>
  
    <input type="button" name="" class="scanButton" (click)="scan()" [ngStyle]="getScanImage()"/>
 
   <img id="spinner"   [src]="dataService.getImage('spinner')" *ngIf="sending" />
  <label class="amountText">{{currentORB}}{{amount}}</label>
 <input type="text" class="addressText" [placeholder]="dataService.getLang('enter_address')+d" [(ngModel)]="dataService.maincontroller.currentSendAddress" (blur)="onBlurMethod()" (focus)="onFocusMethod()">
</div>

<div class="keypadButtons" [style.height.px]="getAHeight(45)" [style.top.px]="getAHeight(13)"> 

<div id="one" class="button" (click)="addKey('1')" [ngStyle]= "getNumImage('1num')">
 
</div>

<div id="two" class="button" (click)="addKey('2')" [ngStyle]= "getNumImage('2num')">
 
</div>

<div id="three" class="button" (click)="addKey('3')" [ngStyle]= "getNumImage('3num')">
 
</div>

<div id="four" class="button" (click)="addKey('4')" [ngStyle]= "getNumImage('4num')">
 
</div>

<div id="five" class="button" (click)="addKey('5')" [ngStyle]= "getNumImage('5num')">
 
</div>

<div id="six" class="button" (click)="addKey('6')" [ngStyle]= "getNumImage('6num')">
 
</div>

<div id="seven" class="button" (click)="addKey('7')" [ngStyle]= "getNumImage('7num')">
 
</div>

<div id="eight" class="button" (click)="addKey('8')" [ngStyle]= "getNumImage('8num')">
 
</div>

<div id="nine" class="button" (click)="addKey('9')" [ngStyle]= "getNumImage('9num')">
 
</div>

<div id="dot" class="button" (click)="addKey('.')" [ngStyle]= "getNumImage('dotnum')">
 
</div>

<div id="zero" class="button" (click)="addKey('0')" [ngStyle]= "getNumImage('0num')">
 
</div>

<div id="del" class="button" (click)="addKey('-1')" [ngStyle]= "getNumImage('delnum')">
 
</div>
</div>
</div>

</div>

<div class="parent">
  <img class="backbar"   [src]="dataService.getImage('tool_bar_background')"/>
  <img class="leftbracket"  [src]="dataService.getImage('leftBracket')" />
  <img class="rightbracket"  [src]="dataService.getImage('rightBracket')" />



   <div class="backButton" (click)="closeSend()">
    <img class="backButtonImg" [src]="dataService.getImage('filterButtonBackground')"/>


    <label>{{dataService.getLang("back")}}</label>
      
   



  </div>

<label id="balance" class="title">{{dataService.maincontroller.currentBalance}}&nbsp;{{dataService.maincontroller.selectedKey}}</label> 


  <app-fee-selector></app-fee-selector>

</div>
</div>

<div *ngIf="sending" class="blocker" >
   
  </div>
