<div class="parent" >
  <img class="backbar" id="bottomBarBottom" [src]="dataService.getImage('bottomBar')" />
 <img class="leftbracket"  [src]="dataService.getImage('leftTabBracket')" />
  <img class="rightbracket"  [src]="dataService.getImage('rightTabBracket')"  />

  <img class="firstButton" [src]="image1" (click)="select1()"/>
 <img class="secondButton" [src]="image2" (click)="select2()"/>
  <img class="thirdButton" [src]="image3"  (click)="select3()"/>
   <img class="forthButton" [src]="image4" (click)="select4()"/>
<div class="labels"> 
    <label class="firstLabel">{{dataService.getLang('collection')}}</label>
     <label class="secondLabel">{{dataService.getLang('market')}}</label>
      <label class="thirdLabel">{{dataService.getLang('history')}}</label>
       <label class="forthLabel">{{dataService.getLang('account')}}</label>
</div>
</div>