<div class="parent">
  <img class="backbar" src="../assets/images/bottomBar.png" />
 <img class="leftbracket" src="../assets/images/leftTabBracket.png" />
  <img class="rightbracket" src="../assets/images/rightTabBracket.png" />

  <img class="firstButton" [src]="image1" (click)="select1()"/>
 <img class="secondButton" [src]="image2" (click)="select2()"/>
  <img class="thirdButton" [src]="image3"  (click)="select3()"/>
   <img class="forthButton" [src]="image4" (click)="select4()"/>
<div class="labels"> 
    <label class="firstLabel">Collection</label>
     <label class="secondLabel">Market</label>
      <label class="thirdLabel">History</label>
       <label class="forthLabel">Account</label>
</div>
</div>