.background{


 background-size:100% 100%;
  background-repeat: no-repeat;
 margin: 0 auto;
 position: relative;
}
.outer{
	width: 100vw;
	text-align: center;



}
.tokenImage{
	 display: inline-block;
	width: 100%;
	height: auto; 
   position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  

}

.customButton{
    background-color: Transparent;
  background-repeat: no-repeat;
  background-size:100% 100%; 
  width:75px; 
  height:30px; 
  background-position: 50% 50%; 
 
  font-size: 0.7em;
  color: #ffffd5;
  font-family:   sling;
  padding: 0;
  border: none; 
}
.infoText{
	margin-left: 5px;
	 display: inline-block;
	 text-align: center;
	 word-wrap: break-word;
   max-width: 45vw;
  /* vertical-align:top;*/

    
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

 
}
 
.titleline{
	 color: #fadf99;
    font-size: 0.7em;
    font-family:   Sling;
}

.infoline{

	 color: white;
    font-size: 0.7em;
    font-family:   Sling;
     white-space:pre-wrap;
 
}
.contents{
width: 90%;
height: 95%;
	 position: relative;
  top: 50%;
  left:50%;
transform:translate(-50%,-50%);
}
.contentsLeft{
  width: 30%;
  height: 100%;
  float: left;
  position: relative;
}
.contentsRight{
  width: 70%;
 height: 100%;
  float: right;
    position: relative;
      display: inline-flex;
}


