<div class="outer">
<div class="background" [style.width]="getWidth
()" [style.height]="getHeight()" [style.background-image]="'url(' +dataService.getImage('historyBoxBack')+ ')'">

<div  class="contents">
	<div  class="contentsLeft">
<img class="tokenImage"   [lazyLoad]="getImage()" [defaultImage]="dataService.getImage('cardback')" [scrollObservable]="dataService.history.scrollObservable" [scrollTarget]=dataService.history.scrollView   onerror="imgLoadError()" (load)="imageLoaded()" />
</div>
<div  class="contentsRight">
<div *ngIf="!order" class="infoText">
<p class="titleline">{{getInfo()}}<p>

<p class="infoline" style="font-size: 0.6em;">{{getAddress()}}<p>

<p class="titleline">{{getDateTitle()}}<p>

	 <div   *ngIf="!canRBF()">
<p class="infoline">{{getDate()}}<p>
 </div>

	   <div class="rbfButton" *ngIf="canRBF()" style="display: inline-block;">	<label class="titleline" style="display: inline-block;">{{getDate()+" "}}</label>
 	<input class="customButton" type="button" [value]="dataService.getLang('bump_fee')"   (click)="dataService.history.bumpFee(data.tx_hash)" [style.background-image]="'url(' +dataService.getImage('sellPriceButton')+ ')'">	
 </div>

</div>


<div *ngIf="order" class="infoText">
<p class="titleline">{{getOrderTitle1()}}<p>

<p class="infoline" style="font-size: 0.6em;">{{getOrderInfo()}}<p>

 <div class="cancelButton" *ngIf="canCancel()">
 	<input class="customButton" type="button" [value]="dataService.getLang('cancel')"   (click)="cancelOrder()" [style.background-image]="'url(' +dataService.getImage('buyPriceButton')+ ')'">	

 </div>



	<p class="titleline">{{getOrderTitle3()}}<p>
		 <div *ngIf="!canRBF()">
<p class="infoline">{{getDate()}}<p>
 </div>
   <div class="rbfButton" *ngIf="canRBF()" style="display: inline-block;">	<label class="titleline" style="display: inline-block;">{{getDate()+" "}}</label>
 	<input class="customButton" type="button" [value]="dataService.getLang('bump_fee')"   (click)="dataService.history.bumpFee(data.tx_hash)" [style.background-image]="'url(' +dataService.getImage('sellPriceButton')+ ')'">	
 </div>
</div>

</div>
</div>


</div>
</div>
