.background{


 background-size:100% 100%;
  background-repeat: no-repeat;
 margin: 0 auto;
 position: relative;
}
.outer{
	width: 100vw;
	text-align: center;



}
.tokenImage{
	 display: inline-block;
	width: 25%;
	height: auto; 
  

}
.customButton{
    background-color: Transparent;
  background-repeat: no-repeat;
  background-size:100% 100%; 
  width:75px; 
  height:30px; 
  background-position: 50% 50%; 
 
  font-size: 0.7em;
  color: #ffffd5;
  font-family:   sling;
  padding: 0;
  border: none; 
}
.infoText{
	margin-left: 5px;
	 display: inline-block;
	 text-align: center;
	 word-wrap: break-word;
   max-width: 45vw;
   vertical-align:top;
 
}
 
.titleline{
	 color: #fadf99;
    font-size: 0.7em;
    font-family:   Sling;
}

.infoline{

	 color: white;
    font-size: 0.7em;
    font-family:   Sling;
     white-space:pre-wrap;
 
}
.contents{

	 position: relative;
  top: 50%;
  transform: translateY(-50%);
}