.priceBuy{ 
  
  white-space:pre-wrap;
  margin-top: 10px;
  width: 50%;
 
  float: left;
  color: #ffffd5;
    font-family:   sling;
     font-size: 1em;
}
.priceSell{ 

  white-space:pre-wrap;
  margin-top: 10px;
  width: 50%;
  
  float: right;
  color: #ffffd5;
    font-family:   merriweather;
     font-size: 10pt;
}