.title{ 
  
  white-space:pre-wrap;
  margin-top: 10px;
 
 
 
  color: #ffffd5;
    font-family:   sling;
 
       font-size: 0.7em;
}
.priceVal{ 

  white-space:pre-wrap;
  margin-top: 10px;
 
  
 
  color: #ffffd5;
     font-family:   sling;
       font-size: 0.8em;
    
  
}
.priceVal b{ 
 
       font-size: 0.6em;
    
  
}
.fiatVal{ 

  white-space:pre-wrap;
  margin-top: 10px;
  
  color: #ffffd5;
     font-family:   sling;
     
      font-size: 0.7em;
}
.buySection{
 
  width: 50%; 
   float: left;
}
.sellSection{
  float: right;
   width: 50%; 
}