<div  class="history">
	<div class="parent">
  <img class="backbar"  [src]="dataService.getImage('tool_bar_background')"/>
  <img class="leftbracket"  [src]="dataService.getImage('leftBracket')"/>
  <img class="rightbracket" [src]="dataService.getImage('rightBracket')"/>
 
 

<label id="balance" class="toptitle">{{dataService.getLang('history')}}</label> 


      

</div>




<div *ngIf="!dataService.maincontroller.loading" class="ownAllButton">
    <img class="ownAllButtonImg" src={{allOwnImage}} />
    <div class="ownAllButtonLeft"  (click)="selectHistory()">{{dataService.getLang('send_receive')}}</div>  <div class="ownAllButtonRight"  (click)="selectOrders()">{{dataService.getLang('orders')}}</div>
  </div>




<virtual-scroll *ngIf="mode=='history'" id="scrollView" class="scrollable" [items]="dataService.maincontroller.history" (update)="viewPortItems2 = $event"
[style.height]="getHistoryHeight()" >

<label class="status" *ngIf="loading">{{dataService.getLang('loading')}}</label> 
 
 <label *ngIf="dataService.maincontroller.currentAddress == 'empty'" class="status"  >{{dataService.getLang('please_signin')}}</label> 
 
 
    <app-history-card *ngFor="let item of viewPortItems2" [data]="item">
    </app-history-card>
 

</virtual-scroll>  

<div  *ngIf="mode=='order'">
<div class="ordersButton">
    <img class="ordersButtonImg" src={{orderSelectImage}} />
    <div class="ordersButtonSegLeft"  (click)="selectOrdersAll()">{{dataService.getLang('all')}}</div>  <div class="ordersButtonSeg"  (click)="selectOrdersBought()">{{dataService.getLang('bought')}}</div><div class="ordersButtonSeg"  (click)="selectOrdersSold()">{{dataService.getLang('sold')}}</div>  <div class="ordersButtonSegRight"  (click)="selectOrdersOpen()">{{dataService.getLang('open')}}</div>
  </div>

<virtual-scroll id="scrollView" class="scrollable" [items]="dataService.maincontroller.orders" (update)="viewPortItems2 = $event"
[style.height]="getHistoryHeight()" >




<label class="status" *ngIf="loading">{{dataService.getLang('loading')}}</label> 
 
 <label *ngIf="dataService.maincontroller.currentAddress == 'empty'" class="status"  >{{dataService.getLang('please_signin')}}</label> 
 
 
    <app-history-card *ngFor="let item of viewPortItems2" [data]="item" [order]=true>
    </app-history-card>
 

</virtual-scroll>  

 
	  </div>



    </div>
