<div class="market" id="market" *ngIf="dataService.currentTab == 2" [style.height]="getMarketHeight()">
	<div class="marketScroll" *ngIf="newOrbs.length > 0">
		<div class="marketSubScroll">


		<label class="title">New ORBS</label><label class="titleRight">View All</label>
			<div *ngFor="let orbKey of newOrbs; let idx = index" class="cardBox" >
			<div>
				<img class="card" [src]="getImage(dataService.maincontroller.currentOrbs[orbKey])"/>
				
				<app-order-info  [token]="orbKey"></app-order-info>
			</div>
</div>
		</div>

	</div>
</div>



