<div class="market" id="market" *ngIf="dataService.currentTab == 2" [style.height]="getMarketHeight()"[style.background-image]="'url(' +dataService.getImage('blueFelt')+ ')'">
	<div class="marketScroll" *ngIf="dataService.maincontroller.newOrbs.length > 0" [style.height]="getMarketHeight()">
	
<div > 
<div class="marketSection">
	<label class="title">{{dataService.getLang('neworbs')}}</label><!--<label class="titleRight">View All</label>-->
	<br>
		<div id="new" class="marketSubScroll">
 
			<div *ngFor="let orbKey of dataService.maincontroller.newOrbs; let idx = index" class="cardBox"  [style.width]="getCardWidth()">
			<div>
				 

   <!-- <app-market-card  [orbImage]="getImage(dataService.maincontroller.currentOrbs[orbKey])" [orbKey]="orbKey" [style.width]="getCardWidth()" [style.height]="300"  >
    </app-market-card>-->

    <div style="width: 130px;height:90px; background-color: red;"><div>

				 
			</div>
			</div>

		</div>
	 
 		<img  class="divider"   [src]="dataService.getImage('feltDivider')" /> 
</div>
<!--
<div *ngIf="!dataService.viewMode" class="marketSection">
	<label class="title">Sell High</label><label class="titleRight">View All</label>
	<br>
		<div class="marketSubScroll">
 
			<div *ngFor="let orbKey of sellHighOrbs; let idx = index" class="cardBox" >
			<div>
				<img class="card" [lazyLoad]="getImage(dataService.maincontroller.currentOrbs[orbKey])"/>
				
				<app-order-info  [token]="orbKey"></app-order-info>
			</div>
			</div>

		</div>
		<br>
 		<img  class="divider" src="../assets/images/feltDivider.png" /> 
</div>
-->
<div class="marketSection">
	<label class="title">{{dataService.getLang('trending')}}</label><!--<label class="titleRight">View All</label>-->
	<br>
		<div id="trending" class="marketSubScroll">


		
			<div *ngFor="let orbKey of dataService.maincontroller.trendingOrbs; let idx = index" class="cardBox" (click)="showORB(dataService.maincontroller.currentOrbs[orbKey],orbKey)" [style.width]="getCardWidth()">
			<div>
				<!--<img class="card" [src]="getSource(getImage(dataService.maincontroller.currentOrbs[orbKey]))" >-->
				<div style="width: 130px;height:90px; background-color: red;"><div>

		
				
				 
			</div>
			</div>

		</div>
	 
 		<img  class="divider"   [src]="dataService.getImage('feltDivider')"  /> 
</div>
<!--<div class="marketSection">
	<label class="title">Buy Low</label><label class="titleRight">View All</label>
	<br>
		<div class="marketSubScroll">


		
			<div *ngFor="let orbKey of buyLowOrbs; let idx = index" class="cardBox" >
			<div>
				<img class="card" [lazyLoad]="getImage(dataService.maincontroller.currentOrbs[orbKey])"/>
				
				<app-order-info  [token]="orbKey"></app-order-info>
			</div>
			</div>

		</div>
		<br>
 		<img  class="divider" src="../assets/images/feltDivider.png" /> 
</div>-->
<div class="marketSection">
	<label class="title">{{dataService.getLang('recommended')}}</label><!--<label class="titleRight">View All</label>-->
	<br>
		<div id="like" class="marketSubScroll">


		
			<div *ngFor="let orbKey of dataService.maincontroller.randomOrbs; let idx = index" class="cardBox" (click)="showORB(dataService.maincontroller.currentOrbs[orbKey],orbKey)" [style.width]="getCardWidth()">
			<div>
					<!--	<img class="card" [src]="getSource(getImage(dataService.maincontroller.currentOrbs[orbKey]))"     >-->
				<div style="width: 130px;height:90px; background-color: red;"><div>

		
				
				 
			</div>
			</div>

		</div>
	 
 		<img  class="divider"   [src]="dataService.getImage('feltDivider')" /> 
</div>

</div>
 
</div>



