 <div class="introPage">
 <!--<h1>{{testObj.userAgent}}</h1>-->
 
   
  <img class="topImage" [src]="dataService.getImage('bookLiningFront')"/>
 <div class="introButtons">
<div *ngIf="isIndiesquare">
 <h3 class="title">linking with indieSquare...</h3>
</div>
 <div *ngIf="!isIndiesquare">
  <div  *ngIf="showIntroButtons">


     <div class="indielink" (click)="linkIndieSquare()">
        <img class="indielogo"   [src]="dataService.getImage('indielogo')"/>
      
      <label>Sign in with IndieSquare</label>  
    </div>
 <br>  


     <div *ngIf="!dataService.isMobile" class="newWalletButton" (click)="createNewAccount()" >

        <img class="newWalletImage"  [src]="dataService.getImage('frontButton')"/>
        <label>Create new wallet</label>
     </div>
 <br> 
   
    <div *ngIf="!dataService.isMobile" class="newWalletButton" (click)="enterPassphrase()">
      <img class="newWalletImage"   [src]="dataService.getImage('frontButton')" />
      <label>Enter passphrase</label>  
    </div>
 
 
  </div>

  <div  *ngIf="showPassphraseField">
  
  <input  class="textInput"  type="password" [(ngModel)]="passphrase"  placeholder="enter your 12 word recovery phrase"  name="passphrase"> 
  <br> 
    
    
   <br>
  
 <div class="navButtons">
    <span class="button" (click)="backToStart()">back</span>
    <span class="button" (click)="checkPassphrase()">next</span>  
</div>
    
    <br><label class="shorturl">{{passphraseStatus}}</label><br>
  
   </div>


 <div  *ngIf="showPasswordField">
  <label class="title">Make quick url</label><br>
  <br>
    <label class="desc" >{{getMessage()}}</label><br>
    <br>
 <input   class="textInput"   type="password" name="password" placeholder="enter a secure password" [(ngModel)]="password"   (ngModelChange)="updateShortUrl()"> 


 <div class="navButtons">
     
      <span class="button" (click)="setShortUrl()">set</span>
      <p  style="color:white">make sure to write down your recovery phrase first!</p>  
</div>
   <br> 
   </div>


 <div  *ngIf="showPasswordDecryptField">
     <label class="shorturl">enter your password</label><br>
     <br>
 <input class="textInput"  type="password" name="password" [(ngModel)]="password"> 

  
 <div class="navButtons"> 
    <span class="button" (click)="decryptPassphrase()">next</span>     
</div>
  <br><label class="shorturl">{{decryptStatus}}</label><br>
   
   </div>


   <div  *ngIf="showNewPassphrase">
     <label class="title">Please write down this passphrase</label><br>
     <br>
  <label class="desc">{{passphrase}}</label><br>
  
   <br> 
   
    
   <br>
 <div class="navButtons"> 
     <span class="button" (click)="backToStart()">back</span>
    <span class="button" (click)="checkPassphrase()">next</span>     
</div> 
   
   </div>
 </div>
  </div>
   </div>
   