 <div class="introPage">
 <!--<h1>{{testObj.userAgent}}</h1>-->
 
   <!--
  <img class="topImage" [src]="dataService.getImage('bookLiningFront')"/>-->
 <div class="introButtons">
<div *ngIf="isIndiesquare" class="linkOptions">
   <canvas id="qr1" ></canvas>
 <h3 class="title">{{linkText}}</h3>
 <br>
 <img *ngIf="showLinkageIcon()" style="height: 30px;" src="../assets/images/linkageIcon.png"/>
</div>
 <div *ngIf="!isIndiesquare">
  <div  *ngIf="showIntroButtons">


     <div class="indielink" >
        <img class="indielogo"   [src]="dataService.getImage('indielogo')" (click)="linkIndieSquare()"/>
      
      <label class="indieLinkLabel">{{dataService.getLang('sign_in_indiesquare')}}</label>  
       <label class="install" (click)="goToIndieSquare()">{{dataService.getLang('dont_have_indiesquare')}}</label>  
    </div>
 <br>  
          <p class="title">or</p>
      <br> 
  <input  class="aButton" type="button" value="Login/signup" (click)="showEnterPassphrase()" [style.background-image]="'url(' +dataService.getImage('filterButtonLong')+ ')'">
     </div>
 
   
 
 

  <div  *ngIf="showPassphraseField">
  <p class="title">{{wordCheck}}</p>
  <input  class="textInput"  type="password" [(ngModel)]="passphrase"  (input)="updatePhraseEnter($event.target.value)" placeholder="enter your 12 word recovery phrase"  name="passphrase"> 
   <div class="navButtons">
     <input  class="backNext"  type="button" value="back" (click)="backToStart()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'"> 
    
   <input  class="backNext" type="button" value="next" (click)="checkPassphrase()" [style.background-image]="'url(' +dataService.getImage('greenButton')+ ')'"> 
    
   
</div>
<p class="title">or</p>
  <br> 

   <input  id="create"  type="button" value="Create new passphrase" (click)="createNewAccount()" [style.background-image]="'url(' +dataService.getImage('filterButtonLong')+ ')'" > 
      
   </div>


 <div  *ngIf="showPasswordField">
  <label class="title">Make quick url</label><br>
  <br>
    <label class="desc" >{{getMessage()}}</label><br>
    <br>
 <input   class="textInput"   type="password" name="password" placeholder="enter a secure password" [(ngModel)]="password"   (ngModelChange)="updateShortUrl()"> 


 <div class="navButtons">
     
      <span class="button" (click)="setShortUrl()">set</span>
      <p  style="color:white">make sure to write down your recovery phrase first!</p>  
</div>
   <br> 
   </div>


 <div  *ngIf="showPasswordDecryptField">
     <label class="shorturl">enter your password</label><br>
     <br>
 <input class="textInput"  type="password" name="password" [(ngModel)]="password"> 

  
 <div class="navButtons"> 
    <span class="button" (click)="decryptPassphrase()">next</span>     
</div>
  <br><label class="shorturl">{{decryptStatus}}</label><br>
   
   </div>


   <div  *ngIf="showNewPassphrase">
     <label class="title">Please write down this passphrase</label><br>
     <br>
  <label class="desc">{{passphrase}}</label><br>
  
   <br> 
   
    
   <br>
   <div  *ngIf="showNewAccountNext" class="navButtons">
     <input  class="backNext"  type="button" value="back" (click)="backToStart()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'"> 
    
   <input  class="backNext" type="button" value="I wrote it down" (click)="checkPassphrase()" [style.background-image]="'url(' +dataService.getImage('greenButton')+ ')'"> 
    
   
</div>
   
   </div>
 </div>
  </div>
   </div>

    <app-introscreens *ngIf="!dataService.showIntroScreen" ></app-introscreens>
   