<div class="backGround" [style.height.px]="getAHeight(100)">

<div class="darkView" [style.height.px]="getAHeight(100)">
</div>

<div class="container" id="container"  [style.height.px]="getAHeight(100)">
 <input  class="textInput"  type="number"   placeholder="e.g. 1"  >
<div class="sendOrb" id="sendOrb"    [style.height.px]="getAHeight(50)">
	<div class="topSection"  [style.height.px]="getAHeight(30)">
	<div class="sendOrbImgBox">
		<div class ="orbDetails">
	<label class="orbImgTitle">{{dataService.maincontroller.selectedKey}}</label> 
	<br>
	<label class="orbImgTitle">{{supply}}&nbsp;<span>{{locked}}</span></label> 
	</div>
<img class="sendOrbImg" [errorImage]="dataService.collection.errorImage" [src]="dataService.collection.defaultImage" [lazyLoad]="dataService.getRemoteImage(dataService.maincontroller.selectedOrb.image)"  [ngStyle]="getImageSize()"/>
 </div>
<input  class="textInput"  type="number"   placeholder="e.g. 1"  >
 <div class="ordersList">
 	<span class="ordersTitle">Sellers</span>
 	<div class="sellOrdersList" *ngFor="let order of sell_orders" >

	<div class="aSellBuyOrder" (click)="buyOrder(order,'buy')"  [style.height.px]="getAHeight(6)" [style.background-image]="'url(' +dataService.getImage('buyPriceButton')+ ')'">
	   <div class="orderBox">
		<div class="orderPrice">{{formatNum(order.price)}}<b>&nbsp;{{dataService.maincontroller.currentAbrev}}</b></div>
		<div class="orderPriceDetails">{{getOrderAmount(order)}}</div>
			 </div>
	</div>
</div> 
<div *ngIf="sell_orders.length==0 && !loadingOrders">
	<p class="noOrders">{{dataService.getLang('no_orders')}}</p>
</div>
<div *ngIf="loadingOrders">
	<p class="noOrders">{{dataService.getLang('loading')}}</p>
</div>
<br>
<span class="ordersTitle">Buyers</span>
<div lass="buyOrdersList" *ngFor="let order of buy_orders" >
<div class="aSellBuyOrder" (click)="buyOrder(order,'sell')" [style.background-image]="'url(' +dataService.getImage('sellPriceButton')+ ')'">
		 <div class="orderBox">
		<div class="orderPrice">{{formatNum(order.price)}}<b>&nbsp;{{dataService.maincontroller.currentAbrev}}</b></div>
		<div class="orderPriceDetails">{{getOrderAmount(order)}}</div>
		</div>
	</div>
</div> 
<div *ngIf="buy_orders.length==0 && !loadingOrders">
	<p class="noOrders">{{dataService.getLang('no_orders')}}</p>
</div>
<div *ngIf="loadingOrders">
	<p class="noOrders">{{dataService.getLang('loading')}}</p>
</div>
<br>
 
 <div class="lastOrder" *ngIf="!loadingClosedOrders">
 	<div class="lastSoldTitle">
{{dataService.getLang('last_sold_at')}}
 </div>
 <div class="lastSoldPrice">
{{getLastSoldPrice()}} 
 </div>
  <div class="lastSoldDate">
{{getLastSoldDate()}}
 </div>
 <input class="historyButton" type="button" [value]="dataService.getLang('closed_orders')"   (click)="showPastOrderPicker()" [style.background-image]="'url(' +dataService.getImage('filterButtonLong')+ ')'">


 </div>
  <div class="lastOrder" *ngIf="loadingClosedOrders">
 	<div class="lastSoldTitle">
{{dataService.getLang('loading')}}
 </div>

 </div>
 

</div>
</div>


 </div>
 <div class="historySection" [style.top]="getBottomTop()">
 
 </div>

 <div class="bottomSection" [style.top]="getBottomTop()"  [style.height.px]="getAHeight(20)">
	
	<div class="customOrder1" [style.left]="customOrder1Left">
		
		<div class="items1">
			<div class="itemTitle">{{dataService.getLang('place_custom_order')}}</div>
			<br>
				<div class="items1Buttons">
					<input class="customButtonBuy" type="button" [value]="dataService.getLang('buy')" style="float: left; " (click)="goToCustom2('buy')" [style.background-image]="'url(' +dataService.getImage('buyPriceButton')+ ')'">	 
		 			<input class="customButtonSell" type="button" [value]="dataService.getLang('sell')" style="float: left;" (click)="goToCustom2('sell')" [style.background-image]="'url(' +dataService.getImage('sellPriceButton')+ ')'">	 	 
				</div>
		</div>

	</div>

	<div class="customOrder2" [style.left]="customOrder2Left">
			<div class="items2">
			<div class="itemTitle">How Many {{dataService.maincontroller.selectedKey}}?</div>
			<br>
			<input  class="textInput"  type="number" [(ngModel)]="orderAmount"  placeholder="e.g. 1"  name="customfee"  (blur)="onBlurMethod()" (focus)="onFocusMethod($event)">
			<br>
			<br>
				<div class="items1Buttons">
					<input class="customButtonBackNext" type="button" [value]="dataService.getLang('back')" style="float: left; " (click)="goToCustom1()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">
		 			<input class="customButtonBackNext" type="button" [value]="dataService.getLang('next')" style="float: left;" (click)="goToCustom3()"  [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">	 
				</div>
			</div>
	</div>

	<div class="customOrder3" [style.left]="customOrder3Left">
				<div class="items2">
			<div class="itemTitle">{{dataService.getLang('enter_price_per_orb')}}</div>
			<br>
			<input  class="textInput"  type="number" [(ngModel)]="orderPrice"  placeholder="e.g. 1"  name="customfee"  (blur)="onBlurMethod()" (focus)="onFocusMethod($event)"><span class="abrev">&nbsp;{{dataService.maincontroller.currentAbrev}}</span>
			<br>
			<br>
				<div class="items1Buttons">
					<input class="customButtonBackNext" type="button" [value]="dataService.getLang('back')" style="float: left; " (click)="goToCustom2('na')" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">
		 			<input class="customButtonConfirm" type="button" [value]="dataService.getLang('confirm')" style="float: left;" (click)="showConf()" [style.background-image]="'url(' +dataService.getImage('sellPriceButton')+ ')'">	 
				</div>
			</div>
	</div>

</div>



</div>

 <div *ngIf="showConfOverlay" class="orderConfOverlay">
   <div class="messageBack" [style.background-image]="'url(' +dataService.getImage('thinFrame')+ ')'">	 	 
   	 	<div  class="loading" *ngIf="loading">
   	 			<p>{{dataService.getLang('please_wait')}}</p>
   	 	</div>
   	<div  *ngIf="!loading">
  <div *ngIf="showOrderText" class="messageText">
  	<p>{{buySellText}}</p>
  	<p style="white-space: pre-wrap; font-style: italic;">{{dataService.getLang('order_conf',orderAmount,dataService.maincontroller.selectedKey,orderPrice,dataService.maincontroller.currentAbrev)}} </p>
  	 
  	<p>{{dataService.getLang('order_total',getTotalPrice(),dataService.maincontroller.currentAbrev)}}</p>
  </div> 


    <div *ngIf="showConfText" class="confText" style="white-space: pre-wrap;"> 
  	<p>A {{currentTransactionFee}}BTC fee <br>will apply to place this order <br>would you still like to continue?</p>
  	 
  </div> 

     <div *ngIf="selectAmount" class="messageText" > 
  	<p style="font-size: 1.4em;">{{dataService.getLang('order_details')}}</p>
  	 <p>{{dataService.getLang('price')}}</p>
  	 <p style="font-style: italic;">{{orderPrice}}  {{dataService.maincontroller.currentAbrev}}</p>
 <p>{{dataService.getLang('availability')}} </p>
  	 <p style="font-style: italic;">x{{originalOrderAmount}}</p> 
 <p>{{dataService.getLang('enter_order_amount')}} </p> 
 <input  style="text-align: center;"class="textInputCenter"  type="number" [(ngModel)]="orderAmount"  placeholder="e.g. 2"  name="customfee"  (blur)="onBlurMethod()" (focus)="onFocusMethod($event)">

 <div  class="placeOrderButtons">
        <input class="customButtonPlaceOrder" type="button" [value]="dataService.getLang('place_order')"  (click)="showConf()" [style.background-image]="'url(' +dataService.getImage('sellPriceButton')+ ')'">	 	 
        <br> <br>
     
		<input class="customButtonCancel" type="button" [value]="dataService.getLang('cancel')"  (click)="closeConf()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">	 
       </div>
 
  </div> 

       <div *ngIf="!selectAmount" class="placeOrderButtons">
        <input class="customButtonPlaceOrder" type="button"  [value]="dataService.getLang('place_order')"   (click)="createOrder()"[style.background-image]="'url(' +dataService.getImage('sellPriceButton')+ ')'">	 	 
        <br> <br>
     
		<input class="customButtonCancel" type="button" [value]="dataService.getLang('cancel')"  (click)="closeConf()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">	 
       </div>
     </div>
      </div>
       </div>

       
<div class="parent">
  <img class="backbar"  [src]="dataService.getImage('tool_bar_background')"/>
  <img class="leftbracket"  [src]="dataService.getImage('leftBracket')"/>
  <img class="rightbracket" [src]="dataService.getImage('rightBracket')"/>
   <div class="backButton" (click)="closeSelf()">
    <img class="backButtonImg"  [src]="dataService.getImage('filterButtonBackground')"/>
    <label>back</label>
    
  </div>
 

<label id="balance" class="title">{{dataService.maincontroller.currentBalance}}&nbsp;{{dataService.maincontroller.selectedKey}}</label> 


      <app-fee-selector></app-fee-selector>

</div>
 </div>


  <div *ngIf="canShowPicker" class="pastOrderPicker" id="pastOrderPicker" [style.top]="grabPastOrderPickerTop()">

 	<div class="pickerTopBar">
 	
 	<img class="pickerbar"   [src]="dataService.getImage('tool_bar_background')"/>
 	<input class="closeButton" type="button" [value]="dataService.getLang('back')" (click)="closePicker()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">
 	</div>
 
   <ul  class="pastOrderList"  [style.height.px]="getListHeight()">
   	<li  *ngIf="!loadingClosedOrders" >

    <label class="envtitle" style="width: 16%;">{{dataService.getLang('po_type')}}</label> <label class="envtitle" style="width: 16%;" >{{dataService.getLang('po_amount')}}</label><label class="envtitle"  style="width: 16%;" >{{dataService.getLang('po_price')}}</label><label class="envtitle"  style="width: 50%;">{{dataService.getLang('po_date')}}</label>
   
   </li>
   <li  *ngIf="loadingClosedOrders" >

    <label class="envtitle" style="width: 100%;">{{dataService.getLang('loading')}}</label> 
   
   </li>
   <li *ngFor="let order of closedOrders;  let i = index" >

    <label class="envtitle" style="width: 16%;">{{order.type}}</label> <label class="envtitle" style="width: 16%;" >{{getAmount(order)}}</label><label class="envtitle"  style="width: 16%;" >{{getPrice(order)}}{{dataService.maincontroller.currentAbrev}}</label><label class="envtitle"  style="width: 50%;">{{getDate(order)}}</label>
   
   </li>
     
 </ul> 
 </div>
