
.backGround {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:200vh;
 background: rgba(0,0,0,0.8);
  width:100%;
 
     background-repeat: no-repeat; 
     background-size: cover;

}
.container{
  position: absolute;
   top: 65px; 
  width: 100vw;
  height: 100%;
  max-width: 600px;
  text-align: center;
   left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}
.darkView{
  position: absolute;
   width:100%;
    height:200vh;
   top: 0%;   
   background-color: rgba(0,0,0,0.5);
      text-align: center;
}
.orderConfOverlay{
  
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height: 100vh;
   background: rgba(255,255,255,0.4);
   z-index: 0;
}
.loading {
  margin-top: 100px;
   font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
  padding: 0;
  border: none; 
}
.parent {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;

}
.middleBar {
  position: absolute;
  bottom: 40%;
  left: 0;
  height: 100px;
    width:100%;

}
.middleBarImg {
  position: relative;
  top: 0;
  left: 0;
  width:100%;
   height: 100%;
  

}
.backbar {
  position: relative;
  top: 0;
  left: 0;
  width:100%;
  height: 9vh;
  max-height:55px;
}
.leftbracket {
  position: absolute;
  top: 0;
  left: 0;
  width:10px;
   height: 9vh;
  max-height:55px;
}
.rightbracket {
  position: absolute;
  top: 0;
  right: 0;
   width:10px;
  height: 9vh;
  max-height:55px;
}
  

.backButtonImg {
    position: absolute;
  top: 3px;
  left: 10px;
  width:100px;
  height:42px;
   pointer-events: none;
}


 .backButton {
  text-align: center;
     cursor: pointer;
    position: absolute;
    top: 3px;
  left: 0px;
  width:100px;
  height:42px;
}
 .backButton label {
     position: absolute;
  left: 10px;
  top: 12px;
  width:100px;
  height:42px;
  z-index: 0;
  color: #ffffd5;
    font-family:   merriweather;
     pointer-events: none;
}


.sendButtonImg {
    position: absolute;
  top: 3px;
  right: 10px;
  width:100px;
  height:42px;
  pointer-events: none;
}

#spinner{
  text-align: center;
     cursor: pointer;
    position: absolute;
    top: 13px;
  right: 15px;
  width:30px;
  height:30px;
}
 .sendButton {
  text-align: center;
     cursor: pointer;
    position: absolute;
    top: 5px;
  right: -5px;
  width:100px;
  height:42px;
}
 .sendButton label {
     position: absolute;
  right: 10px;
  top: 12px;
  width:100px;
  height:42px;
  z-index: 0; 
  color: #ffffd5;
    font-family:   merriweather;
    pointer-events: none;
}
img{
  pointer-events: none;
}
label{
  pointer-events: none;
}
 .title { 
 position: absolute; 
     top: 16px;
     text-align: center;
  width:100%;
  height:60px;
  color: #ffffd5;
   font-family:   merriweather; 
   background-color: transparent;
   border-color: transparent;
   pointer-events: none;
}

 .addressText {  
   position: absolute; 
     bottom: 10px;
     text-align: center;
  width:100%;
  height:40px;
   font-family:   merriweather; 
   background-color: transparent;
   border-color: transparent;
}

 .amountText { 
 position: absolute; 
   bottom: 48px;
     text-align: center;
  width:100%;
  height:33px;
  color: #ffffd5;
   font-family:   merriweather; 
   background-color: transparent;
   border-color: transparent;
}

.sendOrb{
  position: absolute;
   width:100%;
   top: 65px; 
   height: 50vh; 
      text-align: center;
}
.sendOrbImgBox { 
   width:60%; 
   max-height: 30%;
   float: left;
   margin-left: 10px;
  
}
.sendOrbImg { 
   

    
  
}

.ordersList { 
   width:33%; 
   float: right;
   margin-right: 10px;
   margin-top: 30px;
  
}
.sellOrdersList { 
   height: 50%; 
  
}
.buyOrdersList { 
   height: 50%; 
  
}
.topSection {
  height: 30vh;
}
.bottomSection {
  position: absolute; 
  height: 20vh;

}

.items1 {
  float:left;
  width: 100%;
}
.items1Buttons{
   margin-top: -10px;
}
.textInput {
  float: left;
  margin-left: 20px;
   margin-top: -10px;
   width:180px;
   height: 20px;
}
.itemTitle{
  margin-left: 15px;
  font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
  text-align: left;
}

.textInputCenter {
   
}
 .customOrder1 {
   position:absolute;
  width: 100vw;
  left:0; 
  transition:left 0.1s linear;
   
}
.customOrder2 {
  position:absolute;
  width: 100vw;
  left:100vw; 
     transition:left 0.1s linear;
}
.customOrder3 {
  position:absolute;
  width: 100vw;
  left:200vw; 
  transition:left 0.1s linear;
}
 
.aSellBuyOrder {

  margin-bottom: 10px;
     width: 100%;
    height: 6vh;
  max-height: 70px;
  max-width: 200px;
 background-size:100% 100%;
  background-repeat: no-repeat;
    background-position: 50% 50%;
justify-content: center;
     display: flex;               /* establish flex container */
    align-items: center;  


}
.orderBox{
 
   display: inline-block;
    vertical-align: middle;
 
}
.orderPrice{
 
 
 
 
font-size: 0.9em;
 color: #ffffd5;
    font-family:   merriweather;
     
}
.orderPrice b{
 
font-size: 0.5em;
 color: #ffffd5;
    font-family:   merriweather;
     
}
.orderPriceDetails{
  
font-size: 0.5em;
 color: #ffffd5;
    font-family:   merriweather;
}
.messageBack {
  
    background-color: Transparent;
    background-repeat: no-repeat;
    display: inline-block;
  position: absolute;
     background-repeat: no-repeat; 
     background-size: 100% 100%;
     width: 80vw;
     height: 80vh;
     max-width:315px;
     max-height:500px;
      top: 45%; left: 50%;
  transform: translate(-50%,-50%);
  border-color: transparent;
 border:none;
  outline: none;
  text-align: center;
}
.messageText {
  padding-top: 50px;
 color: #ffffd5;
    font-family:  sling;
     word-wrap: break-word;

}
.confText {
  padding-top: 50px;
 color: #ffffd5;
    font-family:   merriweather;
     word-wrap: break-word;

}
.placeOrderButtons {
margin-top: 40px;
}
.customButtonPlaceOrder{
    background-color: Transparent;
background-repeat: no-repeat;
  background-size:100% 100%; 
  width:130px; 
  background-position: 50% 50%; 
  height:50px; 
  font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
  padding: 0;
  border: none; 
}
.customButtonCancel{
    background-color: Transparent;
  background-repeat: no-repeat;
  background-size:100% 100%; 
  width:100px; 
  height:45px; 
  background-position: 50% 50%; 
 
  font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
  padding: 0;
  border: none; 
}

.customButtonConfirm{
    background-color: Transparent;
 background-repeat: no-repeat;
  background-size:100% 100%; 
  width:90px; 
  background-position: 50% 50%; 
  height:40px; 
  font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
  padding: 0;
  border: none;
  margin-left: 10px; 
}
.customButtonBuy{
    background-color: Transparent;
 background-repeat: no-repeat;
  background-size:100% 100%; 
  width:80px; 
  background-position: 50% 50%; 
  height:30px; 
  font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
  padding: 0;
  border: none;
  margin-left: 10px; 
}
.customButtonSell{ 
    background-color: Transparent;
  background-repeat: no-repeat;
  background-size:100% 100%; 
  width:80px; 
  height:30px; 
  background-position: 50% 50%; 
  font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
  padding: 0;
  border: none;
  margin-left: 10px; 
}
.customButtonBackNext{
   background-repeat: no-repeat;
  background-size:100% 100%; 
  width:80px; 
  height:35px; 
  background-position: 50% 50%; 
  background-color: Transparent;
  font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
  padding: 0;
  border: none;
  margin-left: 10px; 
}


.abrev{
  margin-left: 10px;
  font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
  text-align: left;
  float: left;
}
 
 

.ordersTitle{
 
font-size: 0.9em;
 color: #ffffd5;
    font-family:   sling;
    margin-bottom: 10px;
}
.orbImgTitle{
position: relative;
top: 35%;
transform: translateY(-50%); 
font-size: 1.0em;
 color: #ffffd5;
    font-family:   sling;
}
.orbImgTitle b{
 
font-size: 0.7em;
 color: #ffffd5;
    font-family:  sling;
}
.orbImgTitle span{
 
font-size: 0.7em;
 color: #ffffd5;
    font-family:  fontawesome;
}
.sendOrbBack{
  position: absolute;
   width:100%;
   right:5px;
   top: 9.5%;  

      text-align: center;
}
.sendOrbBackImg{ 
  opacity: 0.5;
    filter: alpha(opacity=50);
   width:60%; 
  
}

.sendOrbBack2{
  position: absolute;
   width:100%;
   right:10px;
   top: 9%;  

      text-align: center;
}
.sendOrbBackImg2{ 
  opacity: 0.5;
    filter: alpha(opacity=50);
   width:60%; 
  
}
 .keypadBack {
  width:100%;
  height: 50%;
  top: 50%;
  position: fixed; 

}
.keypad {
text-align: center;
  width:100%;
  height: 40%;
  bottom: 0;
  position: absolute; 
  z-index: 1;
}
.button {
  display: inline-block;
width:32%;
height:25%;
background-color:rgba(0,0,0,0.2);
font-size: 20pt;
 color: #ffffd5;
    font-family:   merriweather;

}
.button label {
  height: 100%;
display: flex;
    justify-content: center;
    align-items: center;
}

#balance{
pointer-events: none;
font-size: 10pt;
}

::-webkit-input-placeholder { /* Chrome */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: black;
  opacity: 1;
}




.feeButton span {
    
     pointer-events: none;
    position: absolute;
    left: 27px; 
    top:3px;
    color: #ffffd5;
    font-family:   merriweather;
    font-size: 10pt;
     height:42px;
     text-align: right;
    line-height:42px;
}

.feebuttonImage {
    position: absolute;
  top: 3px;
  right: 10px;
  width:100%;
  height:42px;
}


 .feeButton {
     cursor: pointer;
    position: absolute;
    top: 3px;
  right: 5px;
  width:140px;
  height:42px;

     text-align: right;
}

/* Dropdown button on hover & focus */
.feeButton:hover, .feeButton:focus {
   
}

 

/* Dropdown Content (Hidden by Default) */
.dropdown-content-fee {
    display: none;
    top:52px;
    right:5px;
    position: absolute;
    background-color: #442117;
    min-width: 90px;
       width:170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

 .smallarrow {
  position: absolute;
  top: 19px;
  right: 8px;
   width:16px;
  height:10px;
}
 
.feetitle {
  display: table-cell;
  vertical-align: middle;
      cursor: pointer;
    color: #ffffd5;
    font-family:   merriweather;
    font-size: 12pt;
    left: 7px;
}

.customfee{
 height:50px;
    line-height:50px; 
}
.customfee input{
 
    width:110px;
}
li
{
  
    background-color: #442117;
    display: table;
    min-width: 50px;
    width:170px;
    list-style-type:none;
    padding-left:15px;
    margin:0px;
    height:50px;
}
/* Change color of dropdown links on hover */
li:hover {background-color: #654137}


 

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}