.cardBox { 
  margin-left:2%;
  margin-right:2%;
  margin-top: 10px;
  margin-bottom: 10px;
  pointer-events: none; 
  text-align: center; 
  font-size: 0; 
  display: inline-block;
  -webkit-overflow-scrolling: touch;
 
}
 
.card {  
    -webkit-overflow-scrolling: touch;
   height: 100px;
     background-repeat: no-repeat; 
     background-size: cover;
 border:0; 
  border:none;
 margin: 0 auto;
 text-indent: -999px;
  border: none !important; 
         
}

app-order-info {
    -webkit-overflow-scrolling: touch;
    margin-left:2%;
  margin-right:2%;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;  
  text-align: center; 
  font-size: 1em; 
   
  height: 50px;
}

 
 img.ng-lazyloaded {
            opacity: 1;
        }
 
 