<div class="collection" *ngIf="dataService.currentTab == 1">
 
  <div *ngIf="!dataService.maincontroller.loading" class="ownAllButton">
    <img class="ownAllButtonImg" [src]=allOwnImage  />
    <div class="ownAllButtonText" id="selectOwn" (click)="selectOwn()" >{{dataService.getLang('myorbs')}}</div>  <div class="ownAllButtonText"  id="selectAll" (click)="selectAll()">{{dataService.getLang('allorbs')}}</div>
  </div>
 
 <app-completionbar  *ngIf="!dataService.maincontroller.loading"></app-completionbar > 

 
 <div *ngIf="dataService.maincontroller.loading" class="loadingCustomSpinnerOuter">
 <img   class="loadingCustomSpinner"  src="../assets/images/loadingCustom.svg"  />
 <p class="title"  >{{dataService.getLang('polishing')}}</p>
</div>


<virtual-scroll *ngIf="!loading" id="scrollView" class="scrollable" [items]="dataService.maincontroller.currentOrbsKeys" (update)="viewPortItems = $event"
[style.height]="getCollectionHeight()">
 
<label class="status" *ngIf="showNoOrbs() && !allOrbs">{{dataService.getLang('noorbs')}}</label>

    <app-collection-card *ngFor="let item of viewPortItems;let i = index" [i]="i" [orbImage]="dataService.maincontroller.currentOrbs[item].image" [orbKey]="item" [style.width]="cardWidth" [style.height]="cardHeight">
    </app-collection-card>


  

</virtual-scroll>  
 
	 

 </div>

 