   
  <div *ngIf="!loading" class="ownAllButton">
    <img class="ownAllButtonImg" src={{allOwnImage}} (click)="selectAllOwn()" />
    <span class="ownAllButtonLeft">My Orbs</span> <span class="ownAllButtonRight">All Orbs</span>
  </div>
    
<ul class="rig columns-4">
<li *ngFor="let orbKey of currentOrbsKeys">





 <div class="cardBox">
	 <img class="card" src={{currentOrbs[orbKey].image}} />
    <div class="shadowBox">
    <img class="shadow" src="../assets/images/shadowView.png" />
	  <span class="cardNum">x{{getUserBalance(orbKey)}}</span>
    </div>
    </div>
		 
	</li>
</ul>


 