   
  <div *ngIf="!loading" class="ownAllButton">
    <img class="ownAllButtonImg" src={{allOwnImage}} (click)="selectAllOwn()" />
    <span class="ownAllButtonLeft">My Orbs</span> <span class="ownAllButtonRight">All Orbs</span>
  </div>
  <div class="collection" #scrollMe (scroll)="onScroll()">  
 
 <div *ngFor="let orbKey of scrollOrbsKeys; let idx = index" class="cardBox">

	  <img class="card" [src]="getImage(currentOrbs[orbKey])" (click)="showORB(currentOrbs[orbKey],orbKey)"/> 
    <div class="shadowBox">
    
	  <span class="cardNum">x{{getUserBalance(orbKey)}}</span>
    </div> 

    </div>
		
	 
 </div>

 