ul {  flex-direction: column;
     -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
   list-style: none;
   padding: 0 !important;   
   margin-right: 5px;
   margin-left: 5px;
   overflow:hidden; overflow-y:scroll;


}
ul li {
    display: inline;  
  width:33vw; 
}
.collection{

   height:78vh;
   width:100vw;
   text-align: center; 
	 overflow:hidden; overflow-y:scroll;
}
.cardBox { 
	width:31%;
	margin-left:2%;
	margin-top: 10px;
  cursor: pointer;  
  text-align: center; 
  font-size: 0;
  float:left;
 
}

.card {  
 

 background: url('/assets/images/cardback.png') no-repeat scroll 0 0;
background-size: 100% 100%; 
width: 100%;
 margin: 0 auto;
}

 


.shadowBox { 
	 
	background: url('/assets/images/shadowView.png') no-repeat scroll 0 0;
background-size: 100% 100%; 
width:60%;
height:40px;
    border: 0;
    margin: 0;
    display: inline-block;

}
 


.ownAllButton { 
     cursor: pointer; 
  left: 10px;
  width:250px;
  height:46px; 
  margin: 0 auto;
}
.ownAllButtonLeft {
    top:11px;
	left:32px;
     pointer-events: none;
    position: relative;
    color: #ffffd5;
    font-family:   merriweather;
}


.ownAllButtonRight {
    
     pointer-events: none;
      position: relative;
     top:11px;
	left:70px;
    color: #ffffd5;
    font-family:   merriweather;
}



.ownAllButtonImg {
    position: absolute;
  width:250px;
  height:46px;
}



.cardNum { 
    color: #ffffd5;
	text-align: center;
	width:100%; 
	top:5px;
      position: relative;
    font-family:   merriweather;
	 display: inline-block; 
 font-size:12pt;
}
