 <div style="width: 100vw;height: 100vh; top:0px; left:0px; position: absolute; background-color: black; z-index: 10;" >
    <video style="transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); " id="preview"></video>
    <img style="width:70vw; position: absolute; top:25%;
    left: 50%; 
    margin-left: -35vw;" src="assets/images/qrOverlay.png">

     <img style="width:40px; position: absolute; top:5px;
    left: 5px;" src="assets/images/closeX.png" (click)="exit()">
     </div>
 