
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.backbar {
  position: relative;
  top: 0;
  left: 0;
  width:100%;
  height:60px;
}
.leftbracket {
  position: absolute;
  top: 0;
  left: 0;
  width:10px;
  height:55px;
}
.rightbracket {
  position: absolute;
  top: 0;
  right: 0;
   width:10px;
  height:55px;
}
  

.backButtonImg {
    position: absolute;
  top: 3px;
  left: 10px;
  width:100px;
  height:42px;
}


 .backButton {
  text-align: center;
     cursor: pointer;
    position: absolute;
    top: 3px;
  left: 10px;
  width:100px;
  height:42px;
}
 .backButton label {
     position: absolute;
  left: 10px;
  top: 12px;
  width:100px;
  height:42px;
  z-index: 0;
  color: #ffffd5;
    font-family:   merriweather;
}
  


.largeORB {
   position: absolute;
   top:0;
   width:100%;
   height:100%;
   background-color: rgba(0,0,0,0.7);
}

.container { 
	   height:100%;
   margin: auto;
    top: 60;
    left: 0;
    right: 0; 
	 position: absolute; 
	 text-align: center;
}
.largeORBImage {
	background: url('/assets/images/cardback.png') no-repeat scroll 0 0;
 
 
     background-repeat: no-repeat; 
     background-size: cover;
}

.largeButtons {
	 
   width:400px; 
   margin: auto;
    top: 0;
    left: 0;
    text-align: center; 

    display: inline-block;
   
}
#largeButtonSend {
	 background: url('/assets/images/sendButtonCollection.png');
     background-repeat: no-repeat;  
background-size: 100%;
     cursor: pointer;  
   width:40%;
  overflow: hidden; 
    text-align: center;
    display: inline-block;
   
}
#largeButtonMarket {
	 background: url('/assets/images/marketButtonCollection.png');
   
     background-repeat: no-repeat; 
    
background-size: 100%;
     cursor: pointer;  
    width:40%;
  overflow: hidden; 
    text-align: center;
    display: inline-block;
   
}

.titleLabel {      
   left: 0;  
   width: 100%; 
   display: inline-block; 
    height: 30px;
    color: #ffffd5;
    font-family:   merriweather;
}
.buttonLabel {      
   left: 0;  
   width: 100%; 
   display: inline-block;
   padding-top: 25px;
    height: 60px;
    color: #ffffd5;
    font-family:   merriweather;
}
.largeButtonImage {
	 
   width:100%;
   
}