
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.backbar {
  position: relative;
  top: 0;
  left: 0;
  width:100%;
   height: 9vh;
  max-height:55px;
}
.leftbracket {
  position: absolute;
  top: 0;
  left: 0;
  width:10px;
   height: 9vh;
  max-height:55px;
}
.rightbracket {
  position: absolute;
  top: 0;
  right: 0;
   width:10px;
   height: 9vh;
  max-height:55px;
}
  
 .qrtitle{
   font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
 }

 .backButton {


 background-repeat: no-repeat;
  background-size:100% 100%; 
   
   
  background-position: 50% 50%; 
  background-color: Transparent;
  font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
 
  border: none; 
 cursor: pointer; 

 position: absolute;
  
 width:90px; 
   height: 7vh;
  max-height:42px;
  top:10%;
  left:5px;






}
 .largeORBDark {
   
   position: absolute;
   top:0;
   width:100%;
   height:100%;
   background-color: rgba(0,0,0,0.7);
   text-align: center;
     display: inline-block;
     border-color: transparent;

}

.largeORB {
   position: absolute;
   top:0;
   width:100%;
   height:100%;
    
}
.confButtons{
  width: 100%;
  bottom: 100px;
  position: absolute;
  text-align: center;
}
.confConfirmButton{
   width:100px; 
  height:40px; 
 background-repeat: no-repeat;
  background-size:100% 100%; 
 margin-top: 20px;
  background-color: Transparent;
  font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
  padding: 0;
  border: none; 
 cursor: pointer; 
}
.messageDark {
   z-index: 10;
   position: absolute;
   top:0;
   width:100%;
   height:100%;
   background-color: rgba(0,0,0,0.7);
   text-align: center;
     display: inline-block;
     border-color: transparent;

}
.passwordtitle{
   font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
  margin-top: 30px;
 }
.userpassword {
  height: 25px;
  width:70%;
  margin-top: 10px;
  text-align: center;
}
.closePasswordButton {
  
 width:90px; 
  height:40px; 
 background-repeat: no-repeat;
  background-size:100% 100%; 
 margin-top: 20px;
  background-color: Transparent;
  font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
  padding: 0;
  border: none; 
 cursor: pointer; 

}
.messageBack { 
    display: inline-block;
  position: absolute;
     background-repeat: no-repeat; 
     background-size: 100% 100%;
     width: 80vw;
     height: 80vh;
     max-width:315px;
     max-height:500px;
      top: 45%; left: 50%;
  transform: translate(-50%,-50%);
  border-color: transparent;
 border:none;
  outline: none;
}

.messageBackPassword { 
    display: inline-block;
  position: absolute;
     background-repeat: no-repeat; 
     background-size: 100% 100%;
     width: 80vw;
     text-align: center;
     height: 30vh;
     max-width:315px;
     max-height:500px;
      top: 45%; left: 50%;
  transform: translate(-50%,-50%);
  border-color: transparent;
 border:none;
  outline: none;
}

 
.messageText {
 color: #ffffd5;
 width:80%;
  white-space:pre-wrap;
    top: 30%; left: 50%;
    position: absolute;
  transform: translate(-50%,-30%);
    font-family:   merriweather;
     word-wrap: break-word;

}

.confirmMessageButton {
 color: #ffffd5;
    bottom: 10%; left: 50%;
    position: absolute;
  transform: translate(-50%,-10%);
    font-family:   merriweather;
}
.closeMessageButton {
  
 width:90px; 
  height:40px; 
 background-repeat: no-repeat;
  background-size:100% 100%; 
   bottom: 40px; left: 50%;
    position: absolute;
  transform: translate(-50%,-10%);
  background-position: 50% 50%; 
  background-color: Transparent;
  font-size: 0.9em;
  color: #ffffd5;
  font-family:   sling;
  padding: 0;
  border: none; 
 cursor: pointer; 

}

.container { 
	   height:100%;
   margin: auto;
    top: 60;
    left: 0;
    right: 0; 
	 position: absolute; 
	 text-align: center;
    pointer-events: none;
}
.largeORBImage {
	 
 
 height:70%;

     background-repeat: no-repeat; 
     background-size: cover;
}
.largeORBImageLandscape {
   

 height: auto; 
max-width: 95%;
 max-height: 75%;

     background-repeat: no-repeat; 
     background-size: cover;
}
.largeButtons {
	 
   width:100vw;
   max-width: 400px;
   height: 10vh;
   max-height: 80px;
   margin: auto;
    top: 0;
    left: 0;
    text-align: center; 

    display: inline-block;
   
}
 
.largeButtonMarketSend {
 
 
     background-repeat: no-repeat; 
background-size:100% 100%; 
 background-position: 50% 50%; 
     cursor: pointer;  
  overflow: hidden; 
    font-size:1em;
  color: #ffffd5;
  font-family:   sling;
   background-color: Transparent;
  border: none; 
   width:40%;
    height: 100%;
     pointer-events: auto;
   
   
}

.titleLabel {      
   left: 0;  
   width: 100%; 
   display: inline-block; 
    height: 30px;
    color: #ffffd5;
    font-family:   merriweather;
}
.buttonLabel {      
   left: 0;  
   width: 100%; 
   display: inline-block;
   padding-top: 25px;
    height: 60px;
    color: #ffffd5;
    font-family:   merriweather;
}
.largeButtonImage {
	 
   width:100%;
   
}