 
   
 <app-top-bar *ngIf="showTopBar"></app-top-bar>
  
   <app-collection  class="scrollable" *ngIf="showCollection" ></app-collection>
   <app-market  *ngIf="showMarket" ></app-market>  
<app-history  *ngIf="showHistory"></app-history>
  <app-account  *ngIf="showAccount"></app-account>
 

 <app-intro  *ngIf="showIntro"></app-intro> 

  <app-bottom-bar  *ngIf="showBottomBar"></app-bottom-bar>

<div class="largeORB" *ngIf="showSelected && showCollection"  >

<div class="parent">
  <img class="backbar"  [src]="dataService.getImage('tool_bar_background')"/>
  <img class="leftbracket"  [src]="dataService.getImage('leftBracket')"/>
  <img class="rightbracket" [src]="dataService.getImage('rightBracket')"/>
   <div class="backButton" (click)="closeLarge()">
    <img class="backButtonImg"  [src]="dataService.getImage('filterButtonBackground')"/>
    <label>back</label>
    
  </div>
</div>

<div class="container">
 <label class="titleLabel">{{selectedKey}}</label> 
  <img *ngIf="dataService.landscape" class="largeORBImageLandscape" [src]="selectedOrb.image"  [style.background-image]="'url(' +dataService.getImage('cardbackLandscape')+ ')'">
   <img *ngIf="!dataService.landscape" class="largeORBImage" [src]="selectedOrb.image"  [style.background-image]="'url(' +dataService.getImage('cardback')+ ')'">
   
    <br>
    <div class="largeButtons" >
        
      <div id="largeButtonSend" (click)="openSend()" *ngIf="dataService.maincontroller.currentBalance > 0" [style.background-image]="'url(' +dataService.getImage('sendButtonCollection')+ ')'">
      
        <label class="buttonLabel">Send</label> 
     </div>
 	 
   
      <div id="largeButtonMarket" (click)="openMarket()" [style.background-image]="'url(' +dataService.getImage('marketButtonCollection')+ ')'">

  
       <label class="buttonLabel" >Market</label> 
     
      </div>
    </div>


  </div>

 





</div>
<app-send *ngIf="showSend" ></app-send>
<app-order-page *ngIf="showOrderPage" ></app-order-page>
 <div class="messageDark"  *ngIf="showingMessage">
   <div class="messageBack" [style.background-image]="'url(' +dataService.getImage('thinFrame')+ ')'">
  <div class="messageText">{{messageText}}</div> 
        
        <input class="closeMessageButton" type="button" value="close" (click)="closeMessage()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">
        
   
       </div>


  </div>

   <div class="messageDark"  *ngIf="showingConf">
   <div class="messageBack" [style.background-image]="'url(' +dataService.getImage('thinFrame')+ ')'">
  <div class="messageText">{{messageText}}</div> 
         <div class="confirmMessageButton" (click)="didConfirm()">
        <label class="buttonLabel">confirm</label> 
       </div>
       <br>
       <div class="closeMessageButton" (click)="didCancel()">
        <label class="buttonLabel">cancel</label> 
       </div>
       </div>


  </div>
   <app-qrscan  *ngIf="showQRScan"></app-qrscan>
 