   
   
 <app-top-bar *ngIf="showTopBar" ></app-top-bar>
  
   <app-collection *ngIf="showCollection" ></app-collection>

  <app-intro  *ngIf="showIntro"></app-intro>

  <app-bottom-bar  *ngIf="showBottomBar"></app-bottom-bar>

<div class="largeORB" *ngIf="selectedOrb && showCollection"  >

<div class="parent">
  <img class="backbar" src="../assets/images/tool_bar_background.png" />
  <img class="leftbracket" src="../assets/images/leftBracket.png" />
  <img class="rightbracket" src="../assets/images/rightBracket.png" />

   <div class="backButton" (click)="closeLarge()">
    <img class="backButtonImg" src="../assets/images/filterButtonBackground.png" />
    <label>back</label>
    
  </div>
</div>

<div class="container">
 <label class="titleLabel">{{selectedKey}}</label> 
  <img class="largeORBImage" [src]="selectedOrb.image"/> 
  

    <div class="largeButtons">
    
     <div id="largeButtonSend" (click)="openSend()">
      
        <label class="buttonLabel">Send</label> 
     </div>
 	 
   
    <div id="largeButtonMarket">

  
      <label class="buttonLabel">Market</label> 
     
</div>
  </div>


</div>
</div>


<app-send *ngIf="showSend" ></app-send>
 