/* You can add global styles to this file, and also import other style files */
 @font-face {
    font-family: sling;
    src:  url("/assets/fonts/Sling.ttf");
   

}
@font-face {
  font-family: merriweather;
    src: url("/assets/fonts/Merriweather-Bold.ttf");

}
@font-face {
     font-family: slingBold;
    src: url("/assets/fonts/SlingBold.ttf");
}
 
 .messaging{
    color: #ffffd5;
  font-family:   sling;
 }

    html, body {

    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    background-image: url("/assets/images/stoneBackWeb.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;       
}

 