 <img class="background"  [src]="dataService.getImage('accountBackground')" [style.top]="getTopBackground()"  />
<div class="topDiv" [style.height]="getTopHeight()">  

	<br>
	<div class="topStuff">
  <div class="title1">Receiving address for ORBS, Bitcoin and {{dataService.maincontroller.currentCurrency}}</div>
  	<div class="title2">(tap to copy)</div>
  	<br>
  <canvas id="qr1" (click)="copyToClipboard()" [style.height]="getQRHeight()"></canvas>
<div class="title3">{{getAddress()}}</div>
 </div>
  </div>
<div class="bottomDiv" [style.height]="getBottomHeight()">
	<img class="seperator"  [src]="dataService.getImage('leatherSeperator')" />
<!--	<img class="bottomImg" src="../assets/images/qrbottomback.jpg"   />-->


<div class="aCurrency">
		<img class="smallCurrency"  [src]="dataService.getImage('asset_bitcoin')" />
		<div class="middleSection">
			<span class="currencyTitle">Bitcoin</span>
			<div class="imageBack">
				<span class="currencyBalance">{{getBalance('BTC')}}<b>BTC</b></span>
				<span class="currencyBalanceFiat">{{getBalanceFiat('BTC')}}</span>
			</div>
		</div>
		<input class="smallSendButton" type="button" value="Send"  (click)="send('BTC')">
</div>
<hr style="height:3pt; visibility:hidden;"  *ngIf="!showSeperator()"/>
 
<img class="seperatorSmall"  *ngIf="showSeperator()" [src]="dataService.getImage('fancySeperator')"   />

<div class="aCurrency">
		<img class="smallCurrency" [src]="getCurrencyIcon()"   />
		<div class="middleSection">
			<span class="currencyTitle">{{getCurrency()}}</span>
			<div class="imageBack">
				<span class="currencyBalance">{{getBalanceCurrency()}}<b>{{dataService.maincontroller.currentAbrev}}</b></span>
				<span class="currencyBalanceFiat">{{getBalanceFiat(getCurrency())}}</span>
			</div>
		</div>
		<input class="smallSendButton" type="button" value="Send"  (click)="send(getCurrency())">
</div>

</div>




