 <img class="background" src="../assets/images/accountBackground.jpg"   />
<div class="topDiv">  

	<br>
  <div class="title1">Receiving address for ORBS, Bitcoin and {{dataService.maincontroller.currentCurrency}}</div>
  	<div class="title2">(tap to copy)</div>
  	<br>
  <canvas id="qr1"></canvas>
<div class="title2">{{getAddress()}}</div>

<img class="seperator" src="../assets/images/leatherSeperator.jpg"   />
<div>
	<img class="bottomImg" src="../assets/images/qrbottomback.jpg"   />
</div>
  </div>