 <img class="background"  [src]="dataService.getImage('accountBackground')" [style.top]="getTopBackground()"  />
<div class="topDiv" [style.height]="getTopHeight()">  

	<br>
	<div class="topStuff">
  <div class="title1">{{dataService.getLang('receiving_send_info',dataService.maincontroller.currentCurrency)}}</div>
  	<div class="title2">{{dataService.getLang('tap_to_copy')}}</div>
  	<br>
  <canvas id="qr1" (click)="copyToClipboard()" [style.height]="getQRHeight()"></canvas>
<div class="title3">{{getAddress()}}</div>
 </div>
  </div>
<div class="bottomDiv" [style.height]="getBottomHeight()">
	<div style="text-align: center;">
		<img class="seperator"  [src]="dataService.getImage('leatherSeperator')" />
 		<input class="addressButton" id="changeAdd" [style.left]="getLeftPos()" type="button" [value]="dataService.getLang('change_address')" (click)="showAddressPicker()" [style.background-image]="'url(' +dataService.getImage('filterButtonLong')+ ')'">
	</div>

<div class="aCurrency">
		<img class="smallCurrency"  [src]="dataService.getImage('asset_bitcoin')" />
		<div class="middleSection">
			<span class="currencyTitle">{{dataService.getLang('bitcoin')}}</span>
			<div class="imageBack">
				<span class="currencyBalance">{{getBalance('BTC')}}<b>BTC</b></span>
				<span class="currencyBalanceFiat">{{getBalanceFiat('BTC')}}</span>
			</div>
			
		</div>
		<input class="smallSendButton" type="button" [value]="dataService.getLang('send')"  (click)="send('BTC')">
</div>


<hr style="height:3pt; visibility:hidden;"  *ngIf="!showSeperator()"/>
 
<img class="seperatorSmall"  *ngIf="showSeperator()" [src]="dataService.getImage('fancySeperator')"   />

<div class="aCurrency">
		<img class="smallCurrency" [src]="getCurrencyIcon()"   />
		<div class="middleSection">
			<span class="currencyTitle">{{getCurrency()}}</span>
			<div class="imageBack">
				<span class="currencyBalance">{{getBalanceCurrency()}}<b>{{dataService.maincontroller.currentAbrev}}</b></span>
				<span class="currencyBalanceFiat">{{getBalanceFiat(getCurrency())}}</span>
			</div>
		</div>
		<input class="smallSendButton" type="button" [value]="dataService.getLang('send')"  (click)="send(getCurrency())">
</div>

</div>

 <div class="addressPicker" id="addressPicker" [style.top]="getAddressPickerTop()">
 	<div class="pickerTopBar">
 	
 	<img class="pickerbar"   [src]="dataService.getImage('tool_bar_background')"/>
 	<input class="closeButton" type="button" [value]="dataService.getLang('back')" (click)="closePicker()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">
 	</div>

   <ul  class="addressList" [style.height]="getListHeight()">
   <li *ngFor="let adds of getAddresses();  let i = index" (click)="setAddress(adds)">
    <span class="envtitle" >{{adds.address}}</span>
   
   </li>
    <li (click)="addAddress()">
    <span class="envtitle" >{{dataService.getLang('add_address')}}</span>
   
   </li>
 </ul>
 </div>


