<img class="background"  [src]="dataService.getImage('greenFelt')" [style.top]="getTopBackground()"  />

<div class="topPartOuter">
<div class="topPart"> <img class="embelish" [src]="dataService.getImage('embelishLeft')" /> <div class="titleText">{{getStatusText()}}</div>　<img class="embelish" [src]="dataService.getImage('embelishRight')" /> </div>


</div>
<div class="middlePart">
 <input  class="textInput"  type="text" [(ngModel)]="username"  [placeholder]="dataService.getLang('set_username')"  name="customfee" (blur)="setUsername()" (focus)="onFocus()">
  <p class="usernameLoading" *ngIf="loadingUsername">{{dataService.getLang('please_wait')}}</p>

<virtual-scroll id="scrollView" class="scrollable" [items]="rankingsKeys" (update)="viewPortItems3 = $event"
[style.height]="getCollectionHeight()" >

   
    <app-rankings-cell  *ngFor="let item of viewPortItems3;let i = index"  [item]="item" [rankings]="rankings">
    	 
    </app-rankings-cell>

</virtual-scroll>  



 </div>

<div class="parent">
  <img class="backbar"   [src]="dataService.getImage('tool_bar_background')"/>
  <img class="leftbracket"  [src]="dataService.getImage('leftBracket')" />
  <img class="rightbracket"  [src]="dataService.getImage('rightBracket')" />

 <input class="backButton" type="button" [value]="dataService.getLang('back')" (click)="closeSelf()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">
 <!--<input class="jumpButton" type="button" [value]="dataService.getLang('jump_me')"  (click)="jumpToMe()" [style.background-image]="'url(' +dataService.getImage('sendButtonCollection')+ ')'">-->
 

<label id="rankings" class="title">{{dataService.getLang('rankings')}}</label> 
 


</div>