<div class="parent">
  <img class="backbar"   [src]="dataService.getImage('tool_bar_background')" />
  <img class="leftbracket"   [src]="dataService.getImage('leftBracket')"/>
  <img class="rightbracket"    [src]="dataService.getImage('rightBracket')"/>
  <div class="environmentButton">
    <img class="envbutton" [src]="dataService.getImage('selectGameButtonBackground')" (click)="openEnvironmentList()" />
    <span>{{currentEnvTitle}}</span>
    <img id="smallarrow" class="smallarrow" [src]="dataService.getImage('littleArrow')"  />
  </div>
   <div id="myDropdown" class="dropdown-content">
   <li *ngFor="let environmentKey of environmentKeys;  let i = index">
    <span class="envtitle" (click)="setEnvironment(environmentKeys[i])">{{environments[environmentKey].Title}}</span>
   
   </li>
  </div>



        <input *ngIf="shouldShowSignInOut()"  class="loginLogoutButton" type="button" [value]="getSignInText()" (click)="logout()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">

 
</div>