<div class="parent" [style.height.px]="45" >
  <img class="backbar" id="topBarTop"   [src]="dataService.getImage('tool_bar_background')" [style.height.px]="45"/>
  <img class="leftbracket"   [src]="dataService.getImage('leftBracket')" [style.height.px]="45"/>
  <img class="rightbracket"    [src]="dataService.getImage('rightBracket')" [style.height.px]="45"/>
  <div class="environmentButton"  *ngIf="canShowEnv()">
    <img class="envbutton" [src]="dataService.getImage('selectGameButtonBackground')" (click)="openEnvironmentList()" [style.height.px]="40"/>
    <span>{{currentEnvTitle}}</span>
    <img id="smallarrow" class="smallarrow" [src]="dataService.getImage('littleArrow')"  (click)="openEnvironmentList()" />
  </div>
   
    <ul id="myDropdown" class="dropdown-content">
   <li *ngFor="let environmentKey of environmentKeys;  let i = index">
    <span class="envtitle" (click)="setEnvironment(environmentKeys[i])">{{environments[environmentKey].Title}}</span>
   
   </li>
 </ul>
   
        <input *ngIf="shouldShowSignIn()"  class="loginLogoutButton" type="button" [value]="getSignIn()" (click)="logout()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">
         
         <input *ngIf="shouldShowSettings()"  class="loginLogoutButton" type="button" [value]="getSettings()" (click)="showSettings()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">

           
          <button *ngIf="shouldShowReload()" class="reloadButton" style="border: 0; background: transparent"  (click)="reloadViews()"  >
    <img src="../assets/images/reloadButton.png" width="40" height="35" />
</button>
         

        <div *ngIf="shouldShowSearch()" id="searchBar">
  <input type="search"  style="text-transform:uppercase" (input)="updateSearch($event.target.value)">
  
</div>

  <input *ngIf="shouldShowViewAll()" class="loginLogoutButton" type="button" [value]="getViewAll()" (click)="showMarketAll()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">

</div>