<img class="background"  [src]="dataService.getImage('stoneBack')" [style.top]="getTopBackground()"  />

<div class="settingsOptions">
<input  class="someSettings"  type="button" [value]="getCurrentFiatCurrency()" (click)="showFiatPicker()" [style.background-image]="'url(' +dataService.getImage('settingsBoxBorder')+ ')'">
<p class="subtext">{{dataService.getLang('preferred_currency')}}</p>


</div>



<div class="settingsOptions" style="top:200px;" *ngIf="dataService.maincontroller.linkType == 'passphrase'">
<input  class="someSettings"  type="button" [value]="dataService.getLang('show_passphrase')" (click)="showPassphrase()" [style.background-image]="'url(' +dataService.getImage('settingsBoxBorder')+ ')'">
<p class="subtext">{{dataService.getLang('show_passphrase_desc')}}</p>
 

</div>
 
 <div class="fiatPicker" id="fiatPicker" [style.top]="getFiatPickerTop()">
 	<div class="pickerTopBar">
 	
 	<img class="pickerbar"   [src]="dataService.getImage('tool_bar_background')"/>
 	<input class="closeButton" type="button" [value]="dataService.getLang('back')" (click)="closePicker()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">
 	</div>

   <ul  class="currencyList" [style.height]="getListHeight()">
   <li *ngFor="let currency of getMarketKeys();  let i = index" (click)="setFiat(currency)">
    <span class="envtitle" >{{currency}}</span>
   
   </li>
 </ul>
 </div>



<div class="parent">
  <img class="backbar"   [src]="dataService.getImage('tool_bar_background')"/>
  <img class="leftbracket"  [src]="dataService.getImage('leftBracket')" />
  <img class="rightbracket"  [src]="dataService.getImage('rightBracket')" />

 <input class="backButton" type="button" [value]="dataService.getLang('back')" (click)="closeSelf()" [style.background-image]="'url(' +dataService.getImage('filterButtonBackground')+ ')'">
 <input class="jumpButton" type="button" [value]="dataService.getLang('signout')" (click)="logout()" [style.background-image]="'url(' +dataService.getImage('sendButtonCollection')+ ')'">
 

<label id="rankings" class="title">{{dataService.getLang('settings')}}</label> 
 


</div>